.form-control {
  border: 1px solid #eee !important;
  border-radius: 4px !important;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: #059669 !important;
  border-color: #059669 !important;
}

#user_birthday_3i {
  margin-left: 0 !important;
}

#user_birthday_1i {
  margin-right: 0 !important;
}
